
.c-label, .c-label:hover {
    color: #fff;
}

.c-label {
    display: inline-block;
    transition: box-shadow .1s ease-in-out;
    border: 0;
    border-radius: 2px;
    background-color: #30aabc;
    padding: 0 .83333em;
    height: 20px;
    text-decoration: none;
    line-height: 1.66667;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.table tr:first-child td {
  border-top: none;
}

body,table {
	font-size: 14px;
}

h3 {
    font-size: 14px;
}

.table .preview td {
  border-top: none;
  padding-top: 0;
  font-size: 12px;
}

.results-table {
  table-layout: fixed;
  word-wrap: break-word;
}

.results-table tr:first-child td {
  border-top: none;
}

.results-table .ticket-preview td {
  border-top: none;
  padding: 0 0 10px;
  word-break: break-word;
}

.ticket-status-new {
  background-color: #f5ca00;
}

.ticket-status-open {
  background-color: #e82a2a;
}

.ticket-status-pending {
  background-color: #59bbe0;
}

.ticket-status-hold {
  background-color: #000;
}

.ticket-status-solved {
  background-color: #828282;
}

.ticket-status-closed {
  background-color: #ddd;
}

.c-label--pill {
    border-radius: 100px;
}

.ticket-status-new {
  background-color: #f5ca00;
}

.ticket-status-open {
  background-color: #e82a2a;
}

.ticket-status-pending {
  background-color: #59bbe0;
}

.ticket-status-hold {
  background-color: #000;
}
.ticket-status-solved {
  background-color: #828282;
}

.ticket-status-closed {
  background-color: #ddd;
}

.ticket-priority-na {
  background-color: #5cb85c;
}

.ticket-priority-low {
  background-color: #5cb85c;
}

.ticket-priority-normal {
  background-color: #f0ad4e;
}

.ticket-priority-high {
  background-color: #d9534f;
}
.ticket-priority-urgent {
  background-color: #000;
}
