.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.table tr:first-child td {
  border-top: none;
}

body,table {
	font-size: 14px;
}

h3 {
    font-size: 14px;
}

.table .preview td {
  border-top: none;
  padding-top: 0;
  font-size: 12px;
}